<ion-view view-title="Contact Us">
    <ion-content class="padding">
        
       <div class="content-wrapper">

		<div class=" home-bg">
        
        </div>

		<div class="landing-logo">
        
        	<img src="images/logo.png">
           
        
        </div>



		<div class="login-row">
        
        		    <div class="enter-phone-number">                     
              		   Please enter the mobile number you have registered with BVA                 
                    </div>
                
        
        	<form action="" method="get">
            
                
            	<input name="" value="" class="phone-login " placeholder="11 Digits Mobile number" type="text">
            
            	<!--<a href="#" class="forgot-pwd">forgot password?</a>-->
               <!--   <div class="error-phone-number">                     
              		   Please enter correct phone number      
                  </div>-->
        
                
                
                
            <!-- A tag is just for demo  please remove a tag from this login button -->
           		 <a href="index.html" class="fake-login">	
                 
                 <input name="" value="Next" class="login-btn" type="button"> 
                 
                 
                 </a>
              <!-- A tag is just for demo  please remove a tag from this login button -->    
                 
                 
            
            </form>
            
            
            
           <!-- <div class="no-account">Don’t have an account? <a href="#" class="register-here">Register here</a></div>-->
           
           	 <div class="help-text">     For further help please call <a href="#">+92-21-35854083-85</a>  </div>		
        
        
        </div>
        
        
        
        




</div> 
        
    </ion-content>
</ion-view>