<ion-view view-title="Contact Us">
    <ion-content class="padding">
        <div class="content-padding contact-page">
            <h2 class="contact-heading">DEFENCE CAMPUS</h2> <strong class="contact-sub-heading">Address:</strong>
            <p>SL-3, 12th Street,</p>
            <p>Off: Khayaban-e-Shaheen, Phase VIII D.H.A.,</p>
            <p>Karachi, Pakistan</p>
            <br> <strong class="contact-sub-heading">Telephone:</strong>
            <p>Nursery &amp; Primary School Office</p>
            <p>+92-21-35857257-60</p>
            <p>Junior &amp; Senior School Office</p>
            <p>+92-21-35854083-85</p>
            <br> <strong class="contact-sub-heading">Email:</strong>
            <p>General Queries</p>
            <p><a href="mailto:bayviewacd@cyber.net.pk"> bayviewacd@cyber.net.pk </a></p>
            <p><a href="mailto:info@bva.edu.pk"> info@bva.edu.pk</a></p>
            <p>Career Opportunities</p>
            <p><a href="mailto:employment@bva.edu.pk"> employment@bva.edu.pk</a></p>
            <p>Cambridge Registration No: PK533</p>
            <p> </p>
        </div>
        <div class="row-no-padding   border-bottom"> </div>
        <div class="content-padding contact-page">
            <h2 class="contact-heading">CLIFTON CAMPUS</h2> <strong class="contact-sub-heading">Address:</strong>
            <p>SL-3, 12th Street,</p>
            <p>Off: Khayaban-e-Shaheen, Phase VIII D.H.A.,</p>
            <p>Karachi, Pakistan</p>
            <br> <strong class="contact-sub-heading">Telephone:</strong>
            <p>Nursery &amp; Primary School Office</p>
            <p>+92-21-35857257-60</p>
            <p>Junior &amp; Senior School Office</p>
            <p>+92-21-35854083-85</p>
            <br> <strong class="contact-sub-heading">Email:</strong>
            <p>General Queries</p>
            <p><a href="mailto:bayviewacd@cyber.net.pk"> bayviewacd@cyber.net.pk </a></p>
            <p><a href="mailto:info@bva.edu.pk"> info@bva.edu.pk</a></p>
            <p>Career Opportunities</p>
            <p><a href="mailto:employment@bva.edu.pk"> employment@bva.edu.pk</a></p>
            <p>Cambridge Registration No: PK533</p>
            <p> </p>
        </div>
        <div class="border-bottom"> </div>
        <div class="content-padding contact-page">
            <h2 class="contact-heading">PECHS CAMPUS</h2> <strong class="contact-sub-heading">Address:</strong>
            <p>SL-3, 12th Street,</p>
            <p>Off: Khayaban-e-Shaheen, Phase VIII D.H.A.,</p>
            <p>Karachi, Pakistan</p>
            <br> <strong class="contact-sub-heading">Telephone:</strong>
            <p>Nursery &amp; Primary School Office</p>
            <p>+92-21-35857257-60</p>
            <p>Junior &amp; Senior School Office</p>
            <p>+92-21-35854083-85</p>
            <br> <strong class="contact-sub-heading">Email:</strong>
            <p>General Queries</p>
            <p><a href="mailto:bayviewacd@cyber.net.pk"> bayviewacd@cyber.net.pk </a></p>
            <p><a href="mailto:info@bva.edu.pk"> info@bva.edu.pk</a></p>
            <p>Career Opportunities</p>
            <p><a href="mailto:employment@bva.edu.pk"> employment@bva.edu.pk</a></p>
            <p>Cambridge Registration No: PK533</p>
            <p> </p>
            <div class="bottom-margin-big"> </div>
        </div>
        
    </ion-content>
</ion-view>