<ion-view view-title="Home">
    <ion-content class="">
        <ul class="list feeds-content">
            <li class="item">
                <div class="row">
                    <div class="col feed-logo"> <img src="images/bva-small-logo.png"> </div>
                    <div class="col-80 feed-logo-text"> Class One </div>
                </div>
                <div class="row-no-padding"> <img src="images/bva-news-image-1.jpg" class="full-width-image"> </div>
                <div class="row-no-padding">
                    <div class="feed-content-feed-heading">The Sing Along was a child centered event.</div>
                </div>
                <div class="row">
                    <div class="feed-content-feed-description">The emphasis was on providing an intimate setting through which parents....
                    <a href="javascript:void(0)" class="feed-description-more">more</a>
                        </div>
                </div>
                <div class="row">
                    <div class="posted-time">55 minutes ago</div>
                </div>
            </li>
            
            <li class="item">
                <div class="row">
                    <div class="col feed-logo"> <img src="images/bva-small-logo.png"> </div>
                    <div class="col-80 feed-logo-text"> Class One </div>
                </div>
                <div class="row-no-padding"> <img src="images/bva-news-image-1.jpg" class="full-width-image"> </div>
                <div class="row-no-padding">
                    <div class="feed-content-feed-heading">The Sing Along was a child centered event.</div>
                </div>
                <div class="row">
                    <div class="feed-content-feed-description">The emphasis was on providing an intimate setting through which parents....
                    <a href="javascript:void(0)" class="feed-description-more">more</a>
                        </div>
                </div>
                <div class="row">
                    <div class="posted-time">55 minutes ago</div>
                </div>
            </li>
            
            
            <li class="item">
                <div class="row">
                    <div class="col feed-logo"> <img src="images/bva-small-logo.png"> </div>
                    <div class="col-80 feed-logo-text"> Class One </div>
                </div>
                <div class="row-no-padding"> <img src="images/bva-news-image-1.jpg" class="full-width-image"> </div>
                <div class="row-no-padding">
                    <div class="feed-content-feed-heading">The Sing Along was a child centered event.</div>
                </div>
                <div class="row">
                    <div class="feed-content-feed-description">The emphasis was on providing an intimate setting through which parents....
                    <a href="javascript:void(0)" class="feed-description-more">more</a>
                        </div>
                </div>
                <div class="row">
                    <div class="posted-time">55 minutes ago</div>
                </div>
            </li>
            
            <li class="item">
                <div class="row">
                    <div class="col feed-logo"> <img src="images/bva-small-logo.png"> </div>
                    <div class="col-80 feed-logo-text"> Class One </div>
                </div>
                <div class="row-no-padding"> <img src="images/bva-news-image-1.jpg" class="full-width-image"> </div>
                <div class="row-no-padding">
                    <div class="feed-content-feed-heading">The Sing Along was a child centered event.</div>
                </div>
                <div class="row">
                    <div class="feed-content-feed-description">The emphasis was on providing an intimate setting through which parents....
                    <a href="javascript:void(0)" class="feed-description-more">more</a>
                        </div>
                </div>
                <div class="row">
                    <div class="posted-time">55 minutes ago</div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>



