<ion-view view-title="Notifications">
	<ion-content class="no-padding">


		<ul class="list">
			<li class="item settings-sub-heading"> FEED </li>
			<li class="item">
				<div class="row no-padding">
					<div class="col-25"> Campus </div>
					<div class="col-75 relative" align="right">
						<span class="margin-right-20">Defence Campus</span>
						<span class="right-arrow-setting ion-arrow-right-b"></span>
					</div>
				</div>
			</li>
			<li class="item">
				<div class="row  no-padding">
					<div class="col-25"> Classes </div>
					<div class="col-75 relative" align="right">
						<span class="margin-right-20">Kindergarten, II, IV        		  </span>
						<span class="right-arrow-setting ion-arrow-right-b"></span>
					</div>
				</div>
			</li>

			<li class="item settings-sub-heading">
				Notifications
			</li>
			<li class="item">
				<div class="row  no-padding">
					<div class="col-75"> All Notifications </div>
					<div class="col-20" align="right">
						<span class="margin-right-20 toggle-btn-container">
                       <ion-toggle ng-model="notification" toggle-class="toggle-calm"></ion-toggle> 
                        </span>

					</div>
				</div>
			</li>

			<li class="item settings-sub-heading">
				Connect With Us
			</li>

			<li class="item">
				<div class="row  no-padding">
					<div class="col-50">

						<img src="images/fb-icon.png" class="social-icon-setting"> Facebook

					</div>
					<div class="col-20" align="right">
						<span class="margin-right-20 toggle-btn-container">
                       <ion-toggle ng-model="fbnoti" toggle-class="toggle-calm"></ion-toggle> 
                        </span>

					</div>
				</div>
			</li>

			<li class="item">
				<div class="row  no-padding">
					<div class="col-50">

						<img src="images/twitter-icon.png" class="social-icon-setting"> Twitter


					</div>
					<div class="col-20" align="right">
						<span class="margin-right-20 toggle-btn-container">
                       <ion-toggle ng-model="twinoti" toggle-class="toggle-calm"></ion-toggle> 
                        </span>

					</div>
				</div>
			</li>

			<li class="item settings-sub-heading">
				About Us
			</li>

			<li class="item">
				About BVA
			</li>

			<li class="item settings-sub-heading version">
				Version 1.1
			</li>
		</ul>
	</ion-content>
</ion-view>